extends layout

block content
  h1= title
  p Welcome to #{title}, a framework to evaluate rooftop solar potential.
  p Below, please find a description of our API, with sample requests and responses.
